<header>
    <div class="container">
        <div class="row">
            <div class="col-6 ml-auto">
                <div class="blog-logo">
                    <a href="{{@site.url}}" title="{{@site.title}}">
                        {{#if @site.logo}} <img src="{{@site.logo}}" alt="{{@site.title}}" /> {{else}}<span>{{@site.title}}</span>{{/if}}
                    </a>
                </div>
            </div>
            <div class="col-md-3 col-6 text-right btns">
                <a href="#" class="menu" data-toggle="modal" data-target="#menu">
                    <svg width="30" height="22" viewBox="0 0 30 22" xmlns="http://www.w3.org/2000/svg"><path d="M.5 1C.224 1 0 .776 0 .5S.224 0 .5 0h27.874c.276 0 .5.224.5.5s-.224.5-.5.5H.5zm27.874 9c.276 0 .5.224.5.5s-.224.5-.5.5H.5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h27.874zm0 10c.276 0 .5.224.5.5s-.224.5-.5.5H.5c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h27.874z" fill="#B9B2A2" fill-rule="evenodd"/></svg>
                </a>
            </div>
        </div>
    </div>

    <!-- Menu Modal -->
    <div class="modal fade-scale" id="menu" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-6 ml-auto">
                                <div class="blog-logo">
                                    <a href="{{@site.url}}" title="{{@site.title}}">
                                        {{#if @site.logo}} <img src="{{@site.logo}}" alt="{{@site.title}}" /> {{else}}<span>{{@site.title}}</span>{{/if}}
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-6 text-right btns">
                                <a href="#" data-dismiss="modal" aria-label="Close">
                                    <svg width="23" height="21" viewBox="0 0 23 21" xmlns="http://www.w3.org/2000/svg"><g stroke="#B9B2A2" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M21.4473684.55263158L1.17249143 20.8275086M1.5526316.55263158L21.82750857 20.8275086"/></g></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                {{navigation}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <ul class="social">
                        {{#if @site.twitter}}
                            <li><a href="{{twitter_url}}" class="twitter" title="{{@site.twitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        {{/if}}
                        <li><a href="{{@site.url}}/rss" title="{{t "RSS Feed"}}" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>